<footer class="bg-black ">
    <div class="bg-black flex items-center justify-between px-20 py-2">
  <div>
    <h1 class="text-gray-200 mb-2">GET IN TOUCH</h1>
    <div class="text-gray-200 text-sm flex items-center">
       <mat-icon>email</mat-icon> &nbsp;
        <span>tutorme@gmail.com</span>
    </div>
    <div class="text-gray-200 text-sm flex items-center">
       <mat-icon>phone</mat-icon> &nbsp;
       <span>+250 786022037</span>
    </div>
  </div>
    <div>
        <h1 class="text-gray-200 mb-2">LOCATION</h1>
        <div class="text-gray-200 text-sm flex items-center">
            <mat-icon>location_on</mat-icon>
            <span>RWANDA</span>&nbsp;
            <span>Musanze, Kalisimbi</span>
        </div>
       
    </div>
    <div>
        <h1 class="text-gray-200 mb-2">Follow Us</h1>
        <div class="text-gray-200 text-sm flex items-center ">
            <mat-icon>facebook</mat-icon>
            <span>Facebook</span>&nbsp;
        </div>
        <div class="text-gray-200 text-sm flex items-center ">
            <mat-icon>instagram</mat-icon>
            <span>instagram</span>&nbsp;
        </div>
       
    </div>
</div>
<hr class="text-gray-100 ml-10 mr-12">
<div class="text-gray-200 text-sm h-14 p-4 flex justify-center" >&copy; 2024 TutorMe. All right reserved</div>
</footer>

