<div class="w-4/5 bg-gray-100 pt-4 pl-4 mx-auto" >
    <h1 class="font-bold flex justify-center"> All Users</h1>
    <div>
        <table>
            <thead class="text-xs uppercase border-b border-t border-blue-400">
                <tr>
                     <th scope="col" class="px-6 py-3">
                        Names
                      </th>
                      <th scope="col" class="px-6 py-3">
                        Email
                      </th>
                      <th scope="col" class="px-6 py-3">
                        Phone
                      </th>
                      <th scope="col" class="px-6 py-3">
                        Role
                      </th>
                      <th scope="col" class="px-6 py-3">
                        Delete
                      </th>
                      <th scope="col" class="px-6 py-3">
                        Edit
                      </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of users" class="border-b border-blue-400">
                    <td class="px-6 py-4 font-medium">
                        {{user.firstName}} {{user.lastName}}
                       </td>
                       <td class="px-6 py-4">
                        {{user.email}}
                       </td>
                       <td class="px-6 py-4">
                         {{user.phoneNumber}}
                       </td>
                       <td class="px-6 py-4">
                        {{user.role}}
                      </td>
                      <td class="px-6 py-4">
                           <button type="button" class="font-medium text-white hover:underline"  (click)="deleteUser(user.id)"><mat-icon class="text-red-600">delete</mat-icon></button>
                      </td>
                      <td class="px-6 py-4">
                        <button type="button" class="font-medium hover:underline"  (click)="deleteUser(user.id)"><mat-icon class="text-red-600">edit</mat-icon></button>
                      </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
