<div class="text-white text-sm bg-red-900 h-16 flex items-center justify-between sticky top-0 w-full">
    <div class="pl-20">
        <img src="../../../../assets/tutorLogo.PNG" alt="Logo">
    </div>
    
    <div class="flex items-center mr-16 justify-between gap-20">
        
            <div> <a class="cursor-pointer focus:active focus:text-green-400" routerLink="/" routerLinkActive="active-link">Home</a> </div>
        
            <div> <a class="cursor-pointer" routerLink="/contact" routerLinkActive="active-link" >Contact</a> </div>
        
            <div> <a class="cursor-pointer" routerLink="/tutors">Tutors</a> </div>
        
            <div> <a class="cursor-pointer" routerLink="/login" routerLinkActive="active-link">Login</a> </div>
        
            <div> <a class="cursor-pointer" routerLink="/signup">Signup</a> </div>
        
    </div>
</div>

