<div class="bg-blue-100" >
    <div class="flex ">
        <div class="flex  w-1/2 items-center justify-center">
            <!-- <h3 class="text-3xl font-bold text-center text-green-500 mt-5">TutorMe!</h3> -->
            <p class="text-4xl font-bold text-center text-green-500 h-1/2"> Unlock your potential with expert Tutors.Smarter learning, Better results ! </p>
            <p class="text-2xl font-bold text-center text-green-500"> </p>
        </div>
        <div class="w-full h-auto mt-5 mb-10">
            <img class="rounded w-full" src="../../../../assets/movingImage2.jpg" alt="">
        </div>
    </div>
                    <!-- <div class="flex ml-5 w-1/2 items-center">
                        <p [@paragraphAnimation]="showParagraph" class="text-3xl font-bold text-center text-green-500 animate-text">  {{ currentText }} </p>
                    </div> -->
                <!-- <div class="relative overflow-hidden w-full h-64 mt-5">
                    <img *ngIf="currentImageIndex === 0" class="absolute inset-0 object-cover w-full h-full animate-moveImages"
                        [src]="images[0]" alt="Image 1">
                    <img *ngIf="currentImageIndex === 1" class="absolute inset-0 object-cover w-full h-full animate-moveImages"
                            [src]="images[1]" alt="Image 2">
                    <img *ngIf="currentImageIndex === 2" class="absolute inset-0 object-cover w-full h-full animate-moveImages"
                        [src]="images[2]" alt="Image 3">
                </div> -->
    
    
      
   
    <div class="  rounded-xl shadow-md flex ">
        <div class="bg-gray-100 flex ml-12 shadow-md m-2 rounded-2xl transition delay-150 duration-300 hover:delay-300">
            
            <div class="p-8">
                <div class="uppercase  text-sm text-indigo-600 font-semibold"><mat-icon>edit</mat-icon> Our Objectives</div>
                <ul>
                    <li class="mt-2 text-gray-500">
                        Building effective communication and collaboration between tutors and parents,
                    enabling them to exchange information, share resources,for better education of the students. 
                    </li>
                    <li class="mt-2 text-gray-500">
                        Accessing each and every tutor before uploading his/her profile to make sure
                        that he/she is qualified.
                    </li>
                </ul>
                
            </div><br>
        </div>
        <div class="bg-gray-100 shadow flex m-2 rounded-2xl">
            
            <div class="p-4">
                <div class="uppercase  text-sm text-indigo-600 font-semibold"> <mat-icon>edit</mat-icon>Our Vision</div>
                <p class="mt-2 text-gray-500">To revolutionize home-based tutoring by providing a
                    comprehensive digital platform that serves as a central hub for collaboration between tutors and
                    parents. We envision a future where educators and families seamlessly connect, communicate, and
                    collaborate to create personalized learning experiences that empower students to excel academically and
                    thrive in their personal and professional lives.</p>
            </div>
        </div>
        <div class="bg-gray-100 shadow flex border m-2 rounded-2xl mr-12">
            <div class="p-8">
                <div class="uppercase text-sm text-indigo-600 font-semibold"> <mat-icon>edit</mat-icon>Our Mission</div>
                <p class="mt-2 text-gray-500">Revolutionalize home-based tutoring by providing a clear communication and collaboration between tutors and parents, ultimately empowering students to thrive academically</p>
            </div>
        </div>

    </div><br>
</div>  